In [1]:
import pandas as pd
import math

In [2]:
df = pd.read_excel('Book1.xlsx')
route = [0,1,3,5]

In [3]:
df

   Lat  Long
0   50    50
1   23    33
2   79    10
3   79    21
4    9    99
5   41     7
6   10    95
7   13     9
8   44    44

In [4]:
x1 = df['Lat'][0]
y1 = df['Long'][0]

x2 = df['Lat'][1]
y2 = df['Long'][1]

math.sqrt(((x2-x1)**2) + ((y2-y2)**2))

27.0

## Ecredient distance

In [20]:
import time
from math import cos, asin, sqrt, pi

start = time.time()

            
def ucredient(lat1, lon1, lat2, lon2):
    d = math.sqrt(((lat2-lat1)**2) + ((lon2-lon1)**2))
    return d

def haversine(lat1, lon1, lat2, lon2): # great-circle distance
    p = pi/180
    a = 0.5 - cos((lat2-lat1)*p)/2 + cos(lat1*p) * cos(lat2*p) * (1-cos((lon2-lon1)*p))/2
    return 12742 * asin(sqrt(a)) #2*R*asin...

def cal(route, df):
    distance = []
    for idx, p1 in enumerate(route):
        distance.append([])
        lat1 = df['Lat'].loc[p1]
        lon1 = df['Lat'].loc[p1]

        for p2 in route:
            lat2 = df['Lat'].loc[p2]
            lon2 = df['Lat'].loc[p2]

            d = haversine(lat1,lon1, lat2, lon2)
            distance[idx].append(d)
    print(distance)

cal(route, df)

    
end = time.time()
print(end - start)

[[0.0, 3809.2579364978906, 3421.2938806962634, 1220.184023892448], [3809.2579364978906, 0.0, 6805.016067012509, 2613.1650269814563], [3421.2938806962634, 6805.016067012509, 0.0, 4531.991794338655], [1220.184023892448, 2613.1650269814563, 4531.991794338655, 0.0]]
0.0009949207305908203

In [ ]:
0.001998424530029297