In [11]:
import pandas as pd
import math

In [14]:
df = pd.read_excel('Book1.xlsx')
route = [0,1,3,5]

In [15]:
df

   Lat  Long
0   50    50
1   23    33
2   79    10
3   79    21
4    9    99
5   41     7
6   10    95
7   13     9
8   44    44

In [16]:
x1 = df['Lat'][0]
y1 = df['Long'][0]

x2 = df['Lat'][1]
y2 = df['Long'][1]

math.sqrt(((x2-x1)**2) + ((y2-y2)**2))

27.0

In [19]:

def cal(route, df):
    distance = []
    
    for i in range(len(route)):
        distance.append([])
        for j in range(len(route)):
            x1 = df['Lat'][route[i]]
            y1 = df['Long'][route[i]]

            x2 = df['Lat'][route[j]]
            y2 = df['Long'][route[j]]
            d = math.sqrt(((x2-x1)**2) + ((y2-y2)**2))
            distance[i].append(d)
    return distance

dd = cal(route, df)
print(dd)

[[0.0, 27.0, 29.0, 9.0], [27.0, 0.0, 56.0, 18.0], [29.0, 56.0, 0.0, 38.0], [9.0, 18.0, 38.0, 0.0]]