In [6]:
type_car = {'4wheel':[1,4],
           'bike':1}

In [10]:
type_car['4wheel'][1]

4

In [11]:
len(type_car)

2

In [1]:
demand = {'0':[0,0], '3':[1,2,500], '223':[1,1,400]}

In [9]:
print(list(demand)[1])
print(list(demand.values())[1])

3
[1, 2, 500]

In [6]:
import pandas as pd
client = {'0':[50, 50], 
              '1':[11, 74],
              '2':[33, 44],
              '3':[22,33], 
              '223':[1,1],
              '21':[84,20],
             } 

loc = pd.DataFrame.from_dict(client, orient='index', columns=['Lat', 'Long'])
loc

     lat  long
0     50    50
1     11    74
2     33    44
3     22    33
223    1     1
21    84    20

In [7]:
demand = {'0':[0,0],      
              '3':[1,2,500], 
              '223':[1,1,400],
              '21':[1,1,300],
             } 

dem = pd.DataFrame.from_dict(demand, orient='index', columns=['type', 'quantity', 'time request'])
dem

     type  quantity  time request
0       0         0           NaN
3       1         2         500.0
223     1         1         400.0
21      1         1         300.0

In [11]:
list(demand)

['0', '3', '223', '21']

In [10]:
pd.concat([loc, dem], axis = 1,join="inner")

     lat  long  type  quantity  time request
0     50    50     0         0           NaN
3     22    33     1         2         500.0
223    1     1     1         1         400.0
21    84    20     1         1         300.0